{% extends "base.html" %}
{% load static %}
{% block content %}
{{block.super}}
<table class="table">
  <thead>
    <tr>
      <th scope="col">User Id</th>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">Body</th>
    </tr>
  </thead>
  <tbody>
    {% for i in data %}
    <tr>
      <th scope="row">{{i.userId}}</th>
      <td>{{i.id}}</td>
      <td>{{i.title}}</td>
      <td>{{i.body}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<!-- Header -->
<header>
  <h1>Image Gallery</h1>
</header>

<!-- Hero Section -->
<section class="hero">
  <h2>Inside The First App</h2>
</section>

<!-- Gallery Section -->
<section class="gallery">
  <div class="gallery-item">
    <img src="{% static 'images/bird1.jpg'%}" alt="Bird Image 1" />
    <div class="caption">Bird in Flight</div>
  </div>
  <div class="gallery-item">
    <img src="{% static 'images/bird2.jpg'%}" alt="Bird Image 2" />
    <div class="caption">Majestic Birds</div>
  </div>
  <div class="gallery-item">
    <img src="{% static 'images/bird3.jpg'%}" alt="Bird Image 3" />
    <div class="caption">Bird on Tree</div>
  </div>
  <div class="gallery-item">
    <img src="{% static 'images/bird4.jpg'%}" alt="Bird Image 4" />
    <div class="caption">Flying Together</div>
  </div>
  <div class="gallery-item">
    <img src="{% static 'images/bird3.jpg'%}" alt="Bird Image 3" />
    <div class="caption">Bird on Tree</div>
  </div>
  <div class="gallery-item">
    <img src="{% static 'images/bird4.jpg'%}" alt="Bird Image 4" />
    <div class="caption">Flying Together</div>
  </div>
</section>
{% endblock content %}
